<footer class="row-fluid">
    <hr>
    <div class="small-12 medium-4 large-4 columns">
        <b>Website designed by</b>
        <br>
        Peter Rangelov
        <br>
        <a href="mailto:peter.rangelov11@@gmail.com?Subject=Hello%From%20CAC%20Website" target="_blank">peter.rangelov11@@gmail.com</a>
        <br><br>
    </div>

    <div class="small-12 medium-4 large-4 columns">
        <b>Check out our reviews</b>
        <br>

        <a href="http://my.angieslist.com/AngiesList/myangie/checkthelist/spinformation.aspx?wm+WD/0zrV+bFK+zY4TJDQ3w2y9K8xhkAXJwB1dtoBC1h/a5p3Jbpep5eb5tzEi9sHviG4U+/HHUuqFtPdcDRIVUsNzzHaxj78wacWSV4TNhbkSAKsoQf8TWax86vpGveSKJanyQuHa8wP+hp9Xl0w==" target="_blank">Angie's List <b>A</b> Rating</a>
        <br>

        <a href="http://www.yelp.com/biz/columbia-auto-center-columbia-3" target="_blank">Yelp <b>4.5/5</b></a>
        <br>

        <a href="https://plus.google.com/110544986372964373565/about?hl=en" target="_blank">Google <b>4.2/5</b></a>
        <br>

        <a href="http://www.bbb.org/greater-maryland/business-reviews/auto-body-repair-and-painting/columbia-auto-body-in-columbia-md-18010318" target="_blank">BBB <b>A+</b> Rating</a>
        <br>

        <br>
    </div>



    <div class="small-12 medium-4 large-4 columns">
        <b>Get in touch</b>
        <br>
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-phone"></i>(410) 730-1050</li>
            <li><i class="fa-li fa fa-envelope-o"></i>
                <a href="mailto:info@@columbiaautocenter.com?Subject=New%20Email%20From%20Website" target="_blank">info@@columbiaautocenter.net</a>

            </li>
            <li><i class="fa-li fa fa-map-marker"></i>6465 Dobbin Center Way<br>Columbia, MD 21045</li>
            <li><i class="fa-li fa fa-calendar"></i>
                <table>
                    <tr>
                        <td>M - F</td>
                        <td>8AM - 6PM</td>
                    </tr>
                    <tr>
                        <td>SAT</td>
                        <td>8AM - 2PM</td>
                    </tr>
                </table>
            </li>
        </ul>




    </div>


</footer>
