    <div class="row-fluid">
            <div class="small-12 medium-5 large-9 columns">
                <img id="logo" src="@routes.Assets.at("images/logo.png")"/>



                @*<button type="button" class="button large">REQUEST FREE ESTIMATE</button>*@
            </div>

            <div class="small-12 medium-7 large-3 columns">
                <b>COLUMBIA AUTO CENTER</b>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-phone"></i>(410) 730-1050</li>
                    <li><i class="fa-li fa fa-envelope-o"></i>
                        <a href="mailto:info@@columbiaautocenter.com?Subject=New%20Email%20From%20Website" target="_blank">info@@columbiaautocenter.net</a>

                    </li>
                    <li><i class="fa-li fa fa-map-marker"></i>6465 Dobbin Center Way<br>Columbia, MD 21045</li>
                    <li><i class="fa-li fa fa-calendar"></i>
                        <table>
                            <tr>
                                <td>M - F</td>
                                <td>8AM - 6PM</td>
                            </tr>
                            <tr>
                                <td>SAT</td>
                                <td>8AM - 2PM</td>
                            </tr>
                        </table>
                    </li>
                </ul>




        </div>
        <div class="row"></div>









    </div>



<style>
    #logo {
        width: auto;
    }
    .approved_by {
        width: 70px;
    }
</style>
