<div class="row">
    <div class="small-12 columns">
        <a href="@routes.Application.requestAppointment()" class="button" >
            REQUEST AN APPOINTMENT
        </a>
    </div>

</div>
<img src="@routes.Assets.at("images/approved_by/super_service_award.png")">
<h4>Why choose us?</h4>
<ul>
    <li>We work on American and imported cars</li>
    <li>We provide the most up-to-date training and diagnostic equipment for your vehicle.</li>
    <li>We guarantee the estimate we provide.</li>
    <li>We do a <b>FREE</b> safety inspection to uncover potential problems.</li>
    <li>ASE Certified technicians.</li>
    <li>We provide a <b>FREE</b> shuttle service for you or offer a ride to work within a 10-mile radius.</li>
    <li>We will keep you informed throughout the day.</li>
    <br>
</ul>