@(photoUrl: String, name: String, role: String, description: String, email:String=null, phone:String=null)

        <div class="small-12 medium-5 large-4 columns">
            <br>
            <img src="@photoUrl"/>
        </div>

        <div class="small-12 medium-7 large-8 columns">
            <h3>@name</h3>
            <h5><b>@role</b></h5>

            @if(email) {
                Email: <a href="mailto:@email?Subject=Hello%20" target="_top">@email</a>
                <br>
            }
            @if(phone) {
                @phone
                <br><br>
            }

            <p>@description</p>
        </div>



<div class="row">
</div>





