@import views.html.partials.team_members

@main{
    <title>Contact us | Columbia Auto Center - Columbia, MD Auto Repair Services</title>
    <meta name="keywords" content="Columbia auto repair contact information ">

    <div class="row">
        <div class="small-12 medium-12 columns">
            <h1>Contact us</h1>


            <a href="https://www.google.com/maps/dir/Current+Location/Columbia+Auto+Center+6465+Dobbin+Center+Way+Columbia+MD+21045" target="_blank"><i class="fa fa-location-arrow fa-lg"> Click to Navigate to Columbia Auto Center</i></a>


            <br><br>


            <div class="small-12 medium-12 large-6 columns">
                <h4>Address</h4>
                6465 Dobbin Center Way
                <br>
                Columbia, MD 21045
                <br>
            </div>
            <div class="small-12 medium-12 large-6 columns">
                <h4>Parking</h4>
                <p>We're very easy to do business with. Please find a parking space in front of our office. Additional parking available behind our office.</p>
            </div>
            <div class="small-12 medium-12 large-6 columns">
                <h4>Our contact information</h4>
                <ul>
                    <li>(410) 730-1050 (Phone)</li>
                    <li>(410)-740-1974 (Fax)</li>
                    <li><a href="mailto:info@@columbiaautocenter.com?Subject=New%20Email%20From%20Website" target="_top">info@@columbiaautocenter.com</a></li>

                </ul>
            </div>
            <div class="small-12 medium-12 large-6 columns">
                <h4>Hours of Operation</h4>
                <ul>
                    <li>Monday-Friday: 8AM - 6PM</li>
                    <li>Saturday: 8AM - 2PM</li>
                </ul>
            </div>



            <div class="row"></div>



            @*<iframe src="https://google.com/maps/embed/v1/place?key=AIzaSyCcoSyB7dFnvpe1dJiULb1dRG6t_D9p_jI&q=Columbia+Auto+Center+in+Columbia+MD"*@
                @*height="300px"*@
                @*width="100%"*@
                @*frameborder="0"/>*@





        </div>






    </div>






}