@import views.html.partials.team_members

@main{
    <title>Contact us | Columbia Auto Center - Columbia, MD Auto Repair Services</title>
    <meta name="keywords" content="Columbia auto repair contact information ">

    <div class="row">
        <div class="small-12 medium-12 columns">
            <a href="https://www.google.com/maps/dir/Current+Location/Columbia+Auto+Center+6465+Dobbin+Center+Way+Columbia+MD+21045" target="_blank"><i class="fa fa-location-arrow fa-lg"> Click to Navigate to Columbia Auto Center</i></a>


            @*<iframe src="https://google.com/maps/embed/v1/place?key=AIzaSyCcoSyB7dFnvpe1dJiULb1dRG6t_D9p_jI&q=Columbia+Auto+Center+in+Columbia+MD&directionsmode=driving"*@
            @*height="300px"*@
            @*width="800px"/>*@
        </div>






    </div>






}