@import views.html.partials.team_members

@main{
    <title>Contact us | Columbia Auto Center - Columbia, MD Auto Repair Services</title>
    <meta name="keywords" content="Columbia auto repair contact information ">

    <div class="row">
        <div class="small-12 medium-12 columns">
            <iframe src="https://google.com/maps/embed/v1/place?key=AIzaSyCcoSyB7dFnvpe1dJiULb1dRG6t_D9p_jI&q=Columbia+Auto+Center+in+Columbia+MD"
            height="300px"
            width="800px"/>
        </div>






    </div>






}