@(content: Html)

@import views.html.partials.navbar

<!DOCTYPE html>

<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <meta charset=utf-8 name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel=stylesheet href=//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.3/css/foundation.min.css>
        <link rel=stylesheet href=//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css>
        <script src=//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js></script>
        <script src=//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation.min.js></script>
        <script src=//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/vendor/modernizr.js></script>


        @*<script src=//cdn.jsdelivr.net/livejs/4/live.js></script>*@

    </head>
    <body bgcolor="#d3d3d3">


        @navbar()

    <div class="container">
        <div class="row-fluid">
            <div class="small-12 medium-8 columns">
                @content
            </div>

            <div class="small-12 medium-4 columns">
                <div class="row">
                    <div class="small-12 columns">
                        <a href="@routes.Application.requestAppointment()" class="button" >
                            REQUEST AN APPOINTMENT
                        </a>
                    </div>

                </div>
                <img src="@routes.Assets.at("images/approved_by/super_service_award.png")">
                <h4>Why choose us?</h4>
                <ul>
                    <li>We work on American and imported cars</li>
                    <li>We provide the most up-to-date training and diagnostic equipment for your vehicle.</li>
                    <li>We guarantee the estimate we provide.</li>
                    <li>We do a <b>FREE</b> safety inspection to uncover potential problems.</li>
                    <li>ASE Certified technicians.</li>
                    <li>We provide a <b>FREE</b> shuttle service for you or offer a ride to work within a 10-mile radius.</li>
                    <li>We will keep you informed throughout the day.</li>
                    <br>
                </ul>
            </div>

    </div>

</div>




    </body>
    <script>
        $(document).foundation()
    </script>

</html>

    <style>
        body {
            background-color: #f6f6f6;
        }
    </style>