@import views.html.partials.team_members

@main{
    <title>Services | Columbia Auto Center - Columbia, MD Auto Repair Services</title>
    <meta name="keywords" content="Columbia auto repair services timing belt oil change, emission repair, tires, batteries, state inspection, md inspection, maryland state inspection">

    <div class="row">
        <div class="small-12 medium-6 columns">
            <h2>Auto Mechanical Services</h2>
            <ul>
                <li>Computerized Engine Analysis, Repair &amp; Diagnostic</li>
                <li>Tune Up and Factory Scheduled Maintenance</li>
                <li>Emission Repair</li>
                <li>Timing Belts or Chains</li>
                <li>Oil Change &amp; Lube</li>
                <li>MD State Inspection</li>
                <li>Brakes and Anti-lock Brake System</li>
                <li>Transmission Service &amp; Repair</li>
                <li>Heating /Air Conditioning</li>
                <li>Tires and Batteries</li>
                <li>Fuel System Repair and Service</li>
                <li>Door Locks and Power Windows/ Sunroof</li>
                <li>Muffler and Exhaust System</li>
                <li>Computerized Alignment &amp; Wheel Balancing</li>
                <li>Shocks and Strut/ Suspension</li>
                <li>Electrical and Electronic System</li>
            </ul>
        </div>

        <div class="small-12 medium-6 columns">
            <h2>General Services</h2>
            <ul>
                <li>Rental cars will meet you right here at the shop</li>
                <li>Free Estimate (Not Diagnostic)</li>
                <li>24 Hours Towing (410-740-8822)</li>
                <li>Local Area Shuttle Service</li>
                <li>Certified Technicians (ASE and I-Car)</li>
                <li>Call us 410-730-1050</li>
            </ul>
        </div>

    </div>






}