@import views.html.partials.team_members;
@import play.Play;
@import play.Configuration;
@import Play.application

@main{




    <title>Our Team | Columbia Auto Center - Columbia, MD Auto Repair Services</title>
    <meta name="keywords" content="Columbia auto repair services our team ">

            <h1>Our Team</h1>
            <p>Dar Hamilton and Bahram Sobhani began the shop about 30 years ago. Together they have built a solid reputation in the community as running one of the most honest auto repair shops in Maryland. Just check the countless outstanding reviews on Angies List to see what customers say.
                Customers are like family members here and Dar and Bahram make sure that every vehicle that leaves the shop is repaired correctly and is safe to drive.</p>








    @team_members(scala.List("sean_hamilton", "joe_morley", "tasha", "duane_davis", "fadil_repesa", "eric_fleming", "yilmaz_demir"))




<br>

}